@import "header/header";
@import "header/h1";
// @use "header/header" --> va remplazar a import




$color: blue;
$color2: green;
$color3: yellow;

body{
    background-color: $color3;
    display: flex;
}

h1{
    color: $color;
    background: color $color;
}


